
.prize{
    background-image : url(../assets/pointer2.png);
    background-repeat : no-repeat;
    background-position : center;
    height: 565px;
    width: 519px;
    margin-left: 12%;
    margin-top: 2%;
}

button{
    position: relative;
    top: -350px;
    margin-left: 80%;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    border-width: 2.5px;
}

#b1,#b2,#b3,#b4{
    border-radius: 10px;
}

.btn .btn-outline-secondary{
    background-color: #525252;
}

#amount{
    position: relative;
    top: -300px;
    margin-left: 47%;
    width: 350px;
    border-radius: 4px;
}

#bet{
    background-color: rgb(255, 255, 255);
    color: black;
}

.seconds{
    position: relative;
    top: -410px;
    margin-left: 25%;
    color: white;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
}

label{
    padding-right: 12px;
    padding-top: 5px;
    font-family: Courier, monospace;
    color: white;
}