@viewport{
    width: device-width;
}
.first-div {
    display: grid;
    padding-top: 5px
}
/* Ruleta y posiciones */
#canvas {
    height: 350px;
    width: 315px;
    margin: auto
    /* 1,12903225806451612903225806451 */
}
#prize {
    background-image : url(../assets/pointergris.png);
    background-image : url(../assets/pointerb.png);
    background-image : url(../assets/pointerm.png);
    background-image : url(../assets/punteroam.png);
    /* background-image : url(../assets/pointeryellow.png); */
    background-repeat : no-repeat;
    background-position-x : left;
    background-position-y: center;
    /* width: 471px;
    height: 318px; */
    width: 340px;
    height: 322px;
    text-align: center;
    margin: auto
}
#seconds {
    position: relative;
    color: white;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif, Arial, Helvetica, sans-serif;
    top: -210px;
    left: 80px;
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content
}
h3 {
    display: flex
}
h3 div {
    height: 60px;
    width: 30px;
}
h3 div:first-child {
    text-align: end;
    /* width: 60px */
}
h3 div:nth-child(2) {
    text-align: end;
}
h3 div:last-child {
    text-align: end;
    margin-left: -1px;
}
#indication {
    position: relative;
    color: white;
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
    top: -210px;
    left: -25px;
}
.example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    margin-right: 25px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
/* Botones del historial */
.historial {
    float: right;
    position: relative;
    margin-top: -330px;
    margin-right: 10px;
    padding-top: 7px;
}
.hist {
    display: block;
    height: 25px;
    width: 25px;

}
.showprev {
    display: block;
    background-color: transparent;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 5px
}
.button-trans-grey {
    border: 3px solid rgb(105, 98, 97);
}
.button-trans-blue {
    border: 3px solid #228DF0;
}
.button-trans-purple {
    border: 3px solid #5632AF;
}
.button-trans-yellow {
    border: 3px solid #FCC235;
}

.btn-secondary{
    background-color: #2f3132;
    border-color:#2f3132;
}

.btn-primary{
    background-color: #228DF0;
    border-color: #228DF0;
}

.btn-success{
    background-color: #451C73;
    border-color: #451C73;
}

.btn-warning{
    background-color: #F8A01B;
    border-color: #F8A01B;
}

/* Balance y boton de sonido */
.balance {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-top: 20px
}
.ico {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-right: 5px;
    color: white
}
.mute {
    cursor: pointer;
    text-align: end
}

/* Input y btnops y btnops2*/
.input-group .btnops {
    color: white;
    border-color: rgb(229, 241, 243);
    border-radius: 12px;
    margin: 5px;
}

.btnops2{
    color: white;
    border-color: #131218;
    border-radius: 12px;
    margin: 5px;
}
.input-group{
    padding-top: 10px;
}

.input-margin {
    margin: 5px
}

/* botones de las cartas */
.cartas {
    border-radius: 0.25rem;
    color: white;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 25px;
    margin-bottom: 20px;
    margin-top: 10px
}
.cartas .btn {
    font-size: 20px;
    width: 100%;
    border-radius: 7px;
    display: grid
}
.card {
    background-color: #1d2235;
    flex: 1 1 auto;
    padding: 1.25rem;
}

/* .inner-btn{
    margin-left:30%;
} */
.btn2x {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: #414345;
}

.btn3x {
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: #514A9D;
}

.btn5x {
    background: #5632af;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #5632af);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #5632af); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: #3c1053;
}

.btn50x {
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: #FFD200;
}

.reduce {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center
}
.tron img {
    margin-right: 2px;
}
.color1 {
    color: white
}
.color2 {
    /* color: #24C6DC;  */
    color: #4da8b5;
}
.color3 {
    /* color: #5632af; */
    color: #8f6de2;
}
.color4 {
    /* color: #F7971E; */
    color: #f1ac55;
}

.max{
    font-size: 12px;
    position:relative;
    /* top: 10px; */
    /* left: 10%; */
}

#bet{
    background-color: #131218;
    color: white;
}
.back {
    background-color: #131218
}
label{
    /* padding-right: 12px; */
    padding-top: 5px;
    font-family: Courier, monospace;
    color: white;
}

button{
    align-content: center;
}

.reduce1{
    font-size: 20px;
    background-color: #191d2e;
    width: 90%;
}

.reduce2{
    font-size: 20px;
    background-color: #191d2e;
    width: 90%;
    color: #2DADCF;
}
.reduce3{
    font-size: 20px;
    background-color: #191d2e;
    width: 90%;
    color: rgb(137, 96, 226);
}
.reduce4{
    font-size: 20px;
    background-color: #191d2e;
    width: 90%;
    color: #FBB410;
}


.previous{
    margin-left: 10%;
}

.grey-dialog{
    color: #313435;
}

.blue-dialog{
    color: #228DF0;
}

.purple-dialog{
    color: #5632AF;
}

.yellow-dialog{
    color: #FDCA05;
}

.popover-body{
    background-color: #161616d5;
}

.table-numeral{
    color:white;
    background-color: rgb(13, 14, 20);
    border-color: rgb(13, 14, 20);
}

.table-amount{
    color:white;
    border-color: rgb(13, 14, 20);
    background-color: rgb(13, 14, 20);
}

.table-multiplier{
    color:white;
    border-color: rgb(13, 14, 20);
    background-color: rgb(13, 14, 20);
}

.table{
    background-color: #11131F;
}

.table-numeral-grey{
    color: #4e5152;
    background-color: rgb(18, 20, 29);
    border-color:rgb(18, 20, 29);
}

.table-numeral-blue{
    color: #228DF0;
    background-color: rgb(18, 20, 29);
    border-color:rgb(18, 20, 29);
}

.table-numeral-purple{
    color: #5632AF;
    background-color: rgb(18, 20, 29);
    border-color:rgb(18, 20, 29);
}


.table-numeral-yellow{
    color: #FAAC17;
    background-color: rgb(18, 20, 29);
    border-color:rgb(18, 20, 29);
}

.table-value-grey{
    color: #4e5152;
    background-color: rgb(18, 20, 29);
    border-color:rgb(18, 20, 29);
}

.table-value-blue{
    color: #228DF0;
    background-color: rgb(18, 20, 29);
    border-color:rgb(18, 20, 29);
}

.table-value-purple{
    color: #5632AF;
    background-color: rgb(18, 20, 29);
    border-color:rgb(18, 20, 29);
}

.table-value-yellow{
    color: #FAAC17;
    background-color: rgb(18, 20, 29);
    border-color:rgb(18, 20, 29);
}

.table-value-white{
    color: #ffffff;
    background-color: rgb(18, 20, 29);
    border-color:rgb(18, 20, 29);
}

::placeholder{
    color: white;
}
::-moz-placeholder{
    color:white;
}
:-ms-input-placeholder{
    color: white;
}
/* Version media */
@media only screen and (min-width: 650px) {
    .cartas {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr
    }
    #canvas {
        height: 440px;
        width: 400px;
        margin: auto
    }
    #prize {
        /* width: 545px;
        height: 399px; */
        width: 415px;
        height: 402px;
    }
    #seconds {
        top: -255px;
        left: 95px;
        font-size: 2.5rem
    }
    h3 div {
        height: 60px;
        width: 40px;
    }
    h3 div:first-child {
        /* width: 76px; */
    }
    h3 div:last-child {
        text-align: end;
        margin-left: -2px;
    }
    #indication {
        top: -260px;
        left: -32px;
        font-size: 1.25rem
    }
    .historial {
        margin-top: -365px
    }
}

/* Version desktop */
@media only screen and (min-width: 890px) {
    .first-div {
        /* grid-template-columns:  minmax(100px, max-content) 1fr; */
        grid-template-columns: minmax(300px, 400px) 1fr;
        margin-bottom: 120px
    }
    .b {
        order: 1;
        margin: auto
    }
    .a {
        order: 2;
    }
    .cartas {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr
    }
    #canvas {
        width: 460px;
        height: 510px;
    }
    #prize {
        /* width: 600px;
        height: 463px; */
        width: 470px;
        height: 465px;
    }
    #seconds {
        top: -300px;
        left: 100px;
        font-size: 3rem
    }
    h3 div {
        height: 60px;
        width: 45px;
    }
    h3 div:first-child {
        /* width: 90px; */
    }
    #indication {
        top: -310px;
        left: -40px;
        font-size: 1.5rem
    }
    .historial {
        margin-top: -420px
    }
    .card {
        padding: 1rem
    }
    .showprev {
        height: 30px;
        width: 30px
    }

}


/* #canvas{
    height: 429px;
    width: 380px;
    margin: auto
} */