
.prize{
    background-image : url(../assets/pointery.png);
    background-repeat : no-repeat;
    background-position : center;
    height: 615px;
    width: 519px;
    margin-left: 44%;
    margin-top: 2%;
}

#amount{
    position: relative;
    top: -350px;
    margin-left: 5%;
    padding-right: 75%;
    border-radius: 4px;
}
.input-group-append{
    margin-left:1%;
}
#bet{
    background-color: #131218;
    color: white;
}

.back{
    background-color: #131218
}

.seconds{
    position: relative;
    top: -280px;
    margin-left: 43%;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

label{
    padding-right: 12px;
    padding-top: 5px;
    font-family: Courier, monospace;
    color: white;
}
.listTwo {
    color: white;
}

.listThree{
    color: white;
    
}

.listFive{
    color: white;
}

.listFifty{
    color: white;
}


button{
    align-content: center;
}

.list2{
    background-color: rgba(0,0,0,0);
    border-color:rgba(0,0,0,0);
    width: 300px;
    margin-left: 5%;
}

.list3{
    background-color: rgba(0,0,0,0);
    border-color:rgba(0,0,0,0);
    width: 300px;
    margin-left: 5%;
}

.list5{
    background-color: rgba(0,0,0,0);
    border-color:rgba(0,0,0,0);
    width: 300px;
    margin-left: 5%;
}

.list50{
    background-color: rgba(0,0,0,0);
    border-color:rgba(0,0,0,0);
    width: 300px;
    margin-left: 10%;
}

.nav-down{
    position: relative;
    top: -70px;
}

.reduce{
    font-size: 12px;
    background-color: #191d2e;
}

.card{
    margin-left: 1%;
    background-color: #1d2235;
    border-color: rgba(0,0,0,0);
    width: 23%;
    /*padding-right: 20px;
    padding-top: 20px;*/
}

.btn2x{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: rgba(0,0,0,0);
    margin-left: 10%;
    width: 200px;
}

.btn3x{
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: rgba(0,0,0,0);
    margin-left: 10%;
    width: 200px;
    margin-top: 10%;
}

.btn5x{
    margin-left: 10%;
    background: #5632af;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #5632af);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #5632af); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-color: rgba(0,0,0,0);
    width: 200px;
    margin-top: 10%;
}

.btn50x{
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-color: rgba(0,0,0,0);
    margin-left: 15%;
    width: 200px;
    margin-top: 10%;
}

.previous{
    margin-left: 10%;
}

.showprev{
    position: relative;
    top: -300px;
    margin-left: 10%;
    padding-right: 5px;
}

.bal{
    position: relative;
    top: -420px;
    margin-left: 10%;
    color: white;
    font-size: 25px;
}
