<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="spinner == true">
  <div class="contains">
      <mat-spinner class="loading"></mat-spinner> 
      <h2 class="loading-letter">Loading...</h2>
  </div>
</div>
<div class="container-fluid">
  <div class="first-div">
    <div class="a"> 
      <div id = "prize">
        <canvas class="roulette" id="canvas" width="590px" height="650px"></canvas>
        <!-- <img src="../assets/pointery.png" (click)="muteAudio()"> -->
        <h3 id = "seconds">
          <div>{{decenas}}</div>
          <div>{{seconds}}</div>
          <div>.</div>
          <div>{{milis2}}</div>
          <div>{{milis}}</div>
        </h3>
        <h2 id="indication"> {{indication}}</h2>
      </div>
      <div class="historial">
        <div class="history" *ngFor="let prev of (aux | slice : aux.length -30)">
        <!-- <div *ngFor="let prev of (aux | slice : aux.length - 10)"> IRAN 10 DE ESTOS CUANDO SEA AUTOMATICO -->
            <!-- *ngIf="prev.a == 2" -->
          <div *ngIf="prev.a == 2" class="grey-dialog"> 
            <ng-template #content1 id='content1'><p>Hash: </p> {{prev.hash}}<p>Seed: </p> {{prev.salt}} <p>Random: </p>{{prev.rand}}</ng-template>
          <button type="button" class="button-trans-grey showprev hist1" placement="left" popoverClass="grey" [ngbPopover]="content1" ></button>  
          </div>
          <div *ngIf="prev.a == 3" class="red-dialog">
            <ng-template #content2 class="red-info"><p>Hash: </p> {{prev.hash}} <p>Seed: </p> {{prev.salt}} <p>Random:</p>{{prev.rand}}</ng-template>
            <button type="button" class="button-trans-blue showprev hist2" placement="left" popoverClass="red" [ngbPopover]="content2"></button>
          </div>  
          <div *ngIf="prev.a == 5" class="green-dialog">
            <ng-template #content3 class="green-info"><p >Hash: </p> {{prev.hash}} <br><p>Seed:</p> {{prev.salt}}<br><p>Random:</p>{{prev.rand}}</ng-template>
            <button type="button" class="button-trans-purple showprev hist3" placement="left" popoverClass="green" [ngbPopover]="content3"></button>  
          </div>
          <div *ngIf="prev.a == 50" class="yellow-dialog">
            <ng-template #content4 class="yellow-info"><p>Hash: </p> {{prev.hash}} <br><p>Seed:</p> {{prev.salt}}<br><p>Random:</p>{{prev.rand}}</ng-template>
            <button type="button" class="button-trans-yellow showprev hist4" placement="left" popoverClass="yellow" [ngbPopover]="content4"></button> 
          </div>
        <!-- </div> -->
        </div>
      </div>
    </div>

    <div class="place-bets b">

      <div class="balance">
        <!-- Balance -->
        <div class="input-top">
          <!-- <div> -->
            <img class="ico" height="40px" src="../assets/tron_logo_trans.png">
          <!-- </div> -->
          <p>{{balance}}</p>
          <!-- <div> -->
            <img src="../assets/renew.png" height="30px" width="30px" id="check" (click)="checkBalance()">
          <!-- </div> -->
          <!-- <div> -->
            <img src="../assets/history.png" height="30px" width="30px" data-toggle="modal" data-target="#historialModal">
          <!-- </div> -->
            <img src="../assets/play.png" height="30px" width="30px" data-toggle="modal" data-target="#myBetsModal">
        </div>
        <!-- Chat -->
        <div class="botones">
          <div class="chat">
            <div *ngIf = "chatOpen == false; then openChat else closeChat"></div>
            <ng-template #closeChat>
              <div class="example-box" cdkDrag>
                <div class="top-chat" cdkDragHandle>
                  <div *ngIf="avatarExists === undefined; then noavatarprofile else avatarprofile"></div>
                  <ng-template #noavatarprofile>
                      <img src="../assets/64_1.png">  
                  </ng-template>
                  <ng-template #avatarprofile>
                      <img src="{{avatarExists}}">
                  </ng-template>
                  <h5>Global Chat</h5>
                  <button (click)="chatOpen = false" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="chat-content" id="style-1">
                  <!-- <div class="mess" *ngFor="let message of messages" >
                      <h5>{{message.sender}}</h5>
                      <p>{{message.message}}</p>
                  </div> -->
                  <div class="container" *ngFor="let message of messages">
                    <div *ngIf="message.sender === address; then own else other"></div>
                    <ng-template id ="themessage" #other>
                      <div *ngIf="message.avatar === undefined; then noavatarother else avatarother"></div>
                      <ng-template #avatarother>
                          <img src="{{message.avatar}}">
                      </ng-template>
                      <ng-template #noavatarother>
                          <img src="../assets/64_1.png">
                      </ng-template>
                      <p><b>{{message.sender}}</b></p>
                      <p>{{message.message}}</p>
                      <span class="time-right">{{message.timestamp}}</span>
                    </ng-template>
                    <ng-template id ="themessage" #own>
                      <div *ngIf="usernameBool == true; then username else nousername"></div>
                      <ng-template #username>
                        <div class="container you">
                          <div *ngIf="message.avatar === undefined; then noavatar else avatar"></div>
                          <ng-template #avatar>
                              <img src="{{message.avatar}}" alt="Avatar" class="right">
                          </ng-template>
                          <ng-template #noavatar>
                              <img src="../assets/64_1.png" alt="Avatar" class="right">
                          </ng-template>
                          <p><b>{{usernameExists}}</b></p>
                          <p>{{message.message}}</p>
                          <span class="time-left">{{message.timestamp}}</span>
                        </div>
                      </ng-template>
                      <ng-template #nousername>
                        <div class="container you">
                          <div *ngIf="message.avatar === undefined; then noavatar else avatar"></div>
                          <ng-template #avatar>
                            <img src="{{message.avatar}}" alt="Avatar" class="right">
                          </ng-template>
                          <ng-template #noavatar>
                            <img src="../assets/64_1.png" alt="Avatar" class="right">
                          </ng-template>
                          <p><b>{{message.sender}}</b></p>
                          <p>{{message.message}}</p>
                          <span class="time-left">{{message.timestamp}}</span>
                        </div>
                      </ng-template>
                  </ng-template>
                  </div>
                 </div>
                <div class="down">
                  <textarea class="text" [(ngModel)]="sendMessage" placeholder="Start Chating" (keydown.enter)="send(sendMessage)"></textarea>
                  <button class="btn btn-outline-secondary send" (click)="send(sendMessage)">
                      <i class="material-icons">send</i>
                  </button>
                </div>
              </div>
            </ng-template>
            <ng-template #openChat>
              <img class="icons" src="https://img.icons8.com/nolan/50/000000/new-message.png" (click)="chatOpen = true">
            </ng-template>
          </div>
          <!--Profile button-->
          <div class="profile">
            <!-- <div *ngIf="panelOpenState == true; then panelOpen else panelClosed"></div>
            <ng-template #panelOpen>
              <div class="prof">
                <input matInput placeholder="Username" class="form-control" value="">
              </div>
            </ng-template>
            <ng-template #panelClosed>
                <img (click)="panelOpenState = true" [matMenuTriggerFor]="afterMenu" src="https://img.icons8.com/nolan/40/000000/gender-neutral-user.png">
            </ng-template> -->
            <img class="icons" [matMenuTriggerFor]="afterMenu" src="https://img.icons8.com/nolan/40/000000/gender-neutral-user.png">
            <mat-menu #afterMenu="matMenu" xPosition="after">
              <button mat-menu-item data-toggle="modal" data-target="#usernameModal">Set Username</button>
              <button mat-menu-item data-toggle="modal" data-target="#avatarModal">Set Avatar</button>
            </mat-menu>
          </div>
          <!-- Mute button -->
          <div class="mute">
            <div *ngIf="muted == false; then sound else nosound"></div>
            <ng-template #sound>
              <img class="icons" src="https://img.icons8.com/nolan/50/000000/medium-volume.png" (click)="muteAudio()">
            </ng-template>
            <ng-template #nosound>
              <img class="icons" src="https://img.icons8.com/nolan/50/000000/mute.png" (click)="unMute()">
            </ng-template>
          </div>
        </div>
      </div>

      <!-- <div id ="amount" class="input-group mb-3"> -->
        <div class="input-group">
          <div class="input-grid" id="button-addon4">
            <button class="btn btnops btn-outline-secondary" type="button" (click)="min()">min</button>
            <button class="btn btnops btn-outline-secondary" type="button" (click)="ten()">+10</button>
            <button class="btn btnops btn-outline-secondary" type="button" (click)="fifty()">+50</button>
            <button class="btn btnops btn-outline-secondary" type="button" (click)="hundred()">+100</button>
            <button class="btn btnops btn-outline-secondary" type="button" (click)="fiveh()">+500</button>
            <button class="btn btnops btn-outline-secondary" type="button" (click)="thousand()">+1000</button>
            <button class="btn btnops btn-outline-secondary" type="button" (click)="tenpercent()">10%</button>
            <button class="btn btnops btn-outline-secondary" type="button" (click)="twentypercent()">25%</button>
            <button class="btn btnops btn-outline-secondary" type="button" (click)="fiftypercent()">50%</button>
            <button class="btn btnops btn-outline-secondary" type="button" (click)="max()">max</button>
          </div>
          <div class="segundo">
            <div class="input-group-prepend">
              <span class="input-group-text back" id="basic-addon1"><img height="20px" src="../assets/tron_logo_trans.png"></span>
            </div>
            <input id="bet" type="tel" class="form-control" [(ngModel)]="trx" placeholder="10" aria-label="Username" aria-describedby="basic-addon1" required>
          </div>
          <div class="input-grid2" id="button-addon4">
            <button id="b1" class="btn btnops2 btn-secondary" type="button" (click)="betTwo(trx)">2x</button>
            <button id="b2" class="btn btnops2 btn-primary" type="button" (click)="betThree(trx)">3x</button>
            <button id="b3" class="btn btnops2 btn-success" type="button" (click)="betFive(trx)">5x</button>
            <button id="b4" class="btn btnops2 btn-warning" type="button" (click)="betFifty(trx)">50x</button>
          </div>
          <div class="auto">
            <mat-radio-group [(ngModel)]="radioChecked">
              <mat-radio-button id="r1" class="rad1"  value="1" (click)="autoRoll(1,trx)"></mat-radio-button>
              <mat-radio-button id="r2" class="rad2"  value="2" (click)="autoRoll(2,trx)"></mat-radio-button>
              <mat-radio-button id="r3" class="rad3"  value="3" (click)="autoRoll(3,trx)"></mat-radio-button>
              <mat-radio-button id="r4" class="rad4"  value="4" (click)="autoRoll(4,trx)"></mat-radio-button>
            </mat-radio-group>
            <mat-slide-toggle color="primary" (click)="autoRollState()">Auto Roll</mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div *ngFor="let history of historial">
    <p>{{history.sender}}</p>
  </div>-->
  <ngb-tabset type="pills">
    <!-- first tab content -->
    <ngb-tab title="Stats">
      <ng-template ngbTabContent>
        <div class="cartas">

          <div class="card card-body">
            <div class="card-title">
              <button class="btn btn-secondary btn2x" [disabled]="true">
                <span class="inner-btn">2X</span>
                <label class="max">Max: 30000 TRX</label>
              </button>
            </div>
            <div class="card-text reduce color1">
              <div class="tron">
                <span class="color-grey"><svg height="13px" width="13px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 218.83 218.84"><g id="Слой_2" data-name="Слой 2"><g id="Слой_2-2" data-name="Слой 2"><path id="профиль" d="M147.71,135a72,72,0,0,0,34.65-62A72.95,72.95,0,1,0,36.47,73a72,72,0,0,0,34.65,62C34.65,148.63,7.29,180.54,0,218.84H18.24a93.46,93.46,0,0,1,182.36,0h18.23C211.54,179.63,184.19,147.72,147.71,135Zm-93-62a54.71,54.71,0,1,1,54.71,54.7A54.87,54.87,0,0,1,54.71,73Z" class="cls-1"></path></g></g></svg></span>{{players2x}}
              </div>
              <div>
                <span class="color-grey"><svg height="18px" width="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 259.97 253.54"><defs></defs><title>tron1</title><g id="Слой_2" data-name="Слой 2"><g id="tron"><path d="M260,84c-7.39,8.05-14.91,16-22.16,24.16Q175.05,179,112.38,250c-1,1.11-2,2.16-3.36,3.59a31,31,0,0,1-1.76-3Q55.08,128.64,2.91,6.75C2.07,4.78,1,2.91,0,1L2,0C4.55.63,7.07,1.43,9.66,1.87q97,16.59,194,33.16a10.4,10.4,0,0,1,4.79,2.22c7,5.93,13.73,12.08,20.63,18.08Q244.5,68.71,260,82ZM107.74,214.43l.85-.2c.47-3.54,1-7.08,1.41-10.62,4.15-32,8.23-63.93,12.54-95.86.46-3.42-.21-5.41-3-7.51Q76.17,67,32.92,33.61c-.78-.6-1.7-1-3.51-2.15Zm15.45,1.68,108.74-123L137.1,109.06C132.47,144.66,127.93,179.65,123.19,216.11Zm-82-195-.35.72,88.91,68.43L186.89,46Zm162,30.24-52.71,40.8.46.7,83.3-14.06Z" class="cls-1"></path></g></g></svg></span>{{total2x}}
              </div>
            </div> 
            <div *ngFor = "let bet of showTwo">
              <div class="card-text reduce color1" *ngIf = "bet.result.amount !== undefined || bet.result.player !== undefined">
                <div class="tron">
                  <span class="color-grey"><svg height="13px" width="13px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 218.83 218.84"><g id="Слой_2" data-name="Слой 2"><g id="Слой_2-2" data-name="Слой 2"><path id="профиль" d="M147.71,135a72,72,0,0,0,34.65-62A72.95,72.95,0,1,0,36.47,73a72,72,0,0,0,34.65,62C34.65,148.63,7.29,180.54,0,218.84H18.24a93.46,93.46,0,0,1,182.36,0h18.23C211.54,179.63,184.19,147.72,147.71,135Zm-93-62a54.71,54.71,0,1,1,54.71,54.7A54.87,54.87,0,0,1,54.71,73Z" class="cls-1"></path></g></g></svg></span> {{bet.result.player}}... 
                </div>
                <div>
                  <span class="color-grey"><svg height="18px" width="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 259.97 253.54"><defs></defs><title>tron1</title><g id="Слой_2" data-name="Слой 2"><g id="tron"><path d="M260,84c-7.39,8.05-14.91,16-22.16,24.16Q175.05,179,112.38,250c-1,1.11-2,2.16-3.36,3.59a31,31,0,0,1-1.76-3Q55.08,128.64,2.91,6.75C2.07,4.78,1,2.91,0,1L2,0C4.55.63,7.07,1.43,9.66,1.87q97,16.59,194,33.16a10.4,10.4,0,0,1,4.79,2.22c7,5.93,13.73,12.08,20.63,18.08Q244.5,68.71,260,82ZM107.74,214.43l.85-.2c.47-3.54,1-7.08,1.41-10.62,4.15-32,8.23-63.93,12.54-95.86.46-3.42-.21-5.41-3-7.51Q76.17,67,32.92,33.61c-.78-.6-1.7-1-3.51-2.15Zm15.45,1.68,108.74-123L137.1,109.06C132.47,144.66,127.93,179.65,123.19,216.11Zm-82-195-.35.72,88.91,68.43L186.89,46Zm162,30.24-52.71,40.8.46.7,83.3-14.06Z" class="cls-1"></path></g></g></svg></span>
                  {{bet.result.amount}}
                </div>
              </div>
            </div>
          </div>

          <div class="card-body card">
            <div class="card-title">
              <button class="btn btn-secondary btn3x" [disabled]="true">
                <span class="inner-btn">3X</span>
                <label class="max">Max: 20000 TRX</label>
              </button>
            </div>
            <div class="card-text reduce color2">
              <div class="tron">
                <span class="color-red"><svg height="13px" width="13px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 218.83 218.84"><g id="Слой_2" data-name="Слой 2"><g id="Слой_2-2" data-name="Слой 2"><path id="профиль" d="M147.71,135a72,72,0,0,0,34.65-62A72.95,72.95,0,1,0,36.47,73a72,72,0,0,0,34.65,62C34.65,148.63,7.29,180.54,0,218.84H18.24a93.46,93.46,0,0,1,182.36,0h18.23C211.54,179.63,184.19,147.72,147.71,135Zm-93-62a54.71,54.71,0,1,1,54.71,54.7A54.87,54.87,0,0,1,54.71,73Z" class="cls-1"></path></g></g></svg></span>{{players2x}}
              </div>
              <div class="player">
                <span class="color-red"><svg height="18px" width="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 259.97 253.54"><defs></defs><title>tron1</title><g id="Слой_2" data-name="Слой 2"><g id="tron"><path d="M260,84c-7.39,8.05-14.91,16-22.16,24.16Q175.05,179,112.38,250c-1,1.11-2,2.16-3.36,3.59a31,31,0,0,1-1.76-3Q55.08,128.64,2.91,6.75C2.07,4.78,1,2.91,0,1L2,0C4.55.63,7.07,1.43,9.66,1.87q97,16.59,194,33.16a10.4,10.4,0,0,1,4.79,2.22c7,5.93,13.73,12.08,20.63,18.08Q244.5,68.71,260,82ZM107.74,214.43l.85-.2c.47-3.54,1-7.08,1.41-10.62,4.15-32,8.23-63.93,12.54-95.86.46-3.42-.21-5.41-3-7.51Q76.17,67,32.92,33.61c-.78-.6-1.7-1-3.51-2.15Zm15.45,1.68,108.74-123L137.1,109.06C132.47,144.66,127.93,179.65,123.19,216.11Zm-82-195-.35.72,88.91,68.43L186.89,46Zm162,30.24-52.71,40.8.46.7,83.3-14.06Z" class="cls-1"></path></g></g></svg></span>{{total2x}}
              </div>
            </div> 
            <div *ngFor = "let bet of showThree">
              <div class="card-text reduce color2" *ngIf = "bet.result.amount !== undefined || bet.result.player !== undefined">
                <div class="tron">
                  <span class="color-red"><svg height="13px" width="13px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 218.83 218.84"><g id="Слой_2" data-name="Слой 2"><g id="Слой_2-2" data-name="Слой 2"><path id="профиль" d="M147.71,135a72,72,0,0,0,34.65-62A72.95,72.95,0,1,0,36.47,73a72,72,0,0,0,34.65,62C34.65,148.63,7.29,180.54,0,218.84H18.24a93.46,93.46,0,0,1,182.36,0h18.23C211.54,179.63,184.19,147.72,147.71,135Zm-93-62a54.71,54.71,0,1,1,54.71,54.7A54.87,54.87,0,0,1,54.71,73Z" class="cls-1"></path></g></g></svg></span> {{bet.result.player}}... 
                </div>
                <div>
                  <span class="color-red"><svg height="18px" width="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 259.97 253.54"><defs></defs><title>tron1</title><g id="Слой_2" data-name="Слой 2"><g id="tron"><path d="M260,84c-7.39,8.05-14.91,16-22.16,24.16Q175.05,179,112.38,250c-1,1.11-2,2.16-3.36,3.59a31,31,0,0,1-1.76-3Q55.08,128.64,2.91,6.75C2.07,4.78,1,2.91,0,1L2,0C4.55.63,7.07,1.43,9.66,1.87q97,16.59,194,33.16a10.4,10.4,0,0,1,4.79,2.22c7,5.93,13.73,12.08,20.63,18.08Q244.5,68.71,260,82ZM107.74,214.43l.85-.2c.47-3.54,1-7.08,1.41-10.62,4.15-32,8.23-63.93,12.54-95.86.46-3.42-.21-5.41-3-7.51Q76.17,67,32.92,33.61c-.78-.6-1.7-1-3.51-2.15Zm15.45,1.68,108.74-123L137.1,109.06C132.47,144.66,127.93,179.65,123.19,216.11Zm-82-195-.35.72,88.91,68.43L186.89,46Zm162,30.24-52.71,40.8.46.7,83.3-14.06Z" class="cls-1"></path></g></g></svg></span>
                  {{bet.result.amount}} 
                </div>
              </div>
            </div>
          </div>

          <div class="card-body card">
            <div class="card-title">
              <button class="btn btn-secondary btn5x" [disabled]="true">
                <span class="inner-btn">5X</span>
                <label class="max">Max: 12000 TRX</label>
              </button>
            </div>
            <div class="card-text reduce color3">
              <div class="tron">
                <span class="color-green"><svg height="13px" width="13px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 218.83 218.84"><g id="Слой_2" data-name="Слой 2"><g id="Слой_2-2" data-name="Слой 2"><path id="профиль" d="M147.71,135a72,72,0,0,0,34.65-62A72.95,72.95,0,1,0,36.47,73a72,72,0,0,0,34.65,62C34.65,148.63,7.29,180.54,0,218.84H18.24a93.46,93.46,0,0,1,182.36,0h18.23C211.54,179.63,184.19,147.72,147.71,135Zm-93-62a54.71,54.71,0,1,1,54.71,54.7A54.87,54.87,0,0,1,54.71,73Z" class="cls-1"></path></g></g></svg></span>{{players2x}}
              </div>
              <div>
                <span class="color-green"><svg height="18px" width="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 259.97 253.54"><defs></defs><title>tron1</title><g id="Слой_2" data-name="Слой 2"><g id="tron"><path d="M260,84c-7.39,8.05-14.91,16-22.16,24.16Q175.05,179,112.38,250c-1,1.11-2,2.16-3.36,3.59a31,31,0,0,1-1.76-3Q55.08,128.64,2.91,6.75C2.07,4.78,1,2.91,0,1L2,0C4.55.63,7.07,1.43,9.66,1.87q97,16.59,194,33.16a10.4,10.4,0,0,1,4.79,2.22c7,5.93,13.73,12.08,20.63,18.08Q244.5,68.71,260,82ZM107.74,214.43l.85-.2c.47-3.54,1-7.08,1.41-10.62,4.15-32,8.23-63.93,12.54-95.86.46-3.42-.21-5.41-3-7.51Q76.17,67,32.92,33.61c-.78-.6-1.7-1-3.51-2.15Zm15.45,1.68,108.74-123L137.1,109.06C132.47,144.66,127.93,179.65,123.19,216.11Zm-82-195-.35.72,88.91,68.43L186.89,46Zm162,30.24-52.71,40.8.46.7,83.3-14.06Z" class="cls-1"></path></g></g></svg></span>{{total2x}}
              </div>
            </div>
            <div *ngFor = "let bet of showFive">
              <div class="card-text reduce color3" *ngIf = "bet.result.amount !== undefined || bet.result.player !== undefined">
                <div class="tron">
                  <span class="color-green"><svg height="13px" width="13px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 218.83 218.84"><g id="Слой_2" data-name="Слой 2"><g id="Слой_2-2" data-name="Слой 2"><path id="профиль" d="M147.71,135a72,72,0,0,0,34.65-62A72.95,72.95,0,1,0,36.47,73a72,72,0,0,0,34.65,62C34.65,148.63,7.29,180.54,0,218.84H18.24a93.46,93.46,0,0,1,182.36,0h18.23C211.54,179.63,184.19,147.72,147.71,135Zm-93-62a54.71,54.71,0,1,1,54.71,54.7A54.87,54.87,0,0,1,54.71,73Z" class="cls-1"></path></g></g></svg></span> {{bet.result.player}}... 
                </div>
                <div>
                  <span class="color-green"><svg height="18px" width="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 259.97 253.54"><defs></defs><title>tron1</title><g id="Слой_2" data-name="Слой 2"><g id="tron"><path d="M260,84c-7.39,8.05-14.91,16-22.16,24.16Q175.05,179,112.38,250c-1,1.11-2,2.16-3.36,3.59a31,31,0,0,1-1.76-3Q55.08,128.64,2.91,6.75C2.07,4.78,1,2.91,0,1L2,0C4.55.63,7.07,1.43,9.66,1.87q97,16.59,194,33.16a10.4,10.4,0,0,1,4.79,2.22c7,5.93,13.73,12.08,20.63,18.08Q244.5,68.71,260,82ZM107.74,214.43l.85-.2c.47-3.54,1-7.08,1.41-10.62,4.15-32,8.23-63.93,12.54-95.86.46-3.42-.21-5.41-3-7.51Q76.17,67,32.92,33.61c-.78-.6-1.7-1-3.51-2.15Zm15.45,1.68,108.74-123L137.1,109.06C132.47,144.66,127.93,179.65,123.19,216.11Zm-82-195-.35.72,88.91,68.43L186.89,46Zm162,30.24-52.71,40.8.46.7,83.3-14.06Z" class="cls-1"></path></g></g></svg></span>
                  {{bet.result.amount}}
                </div>
              </div>
            </div>
          </div>

          <div class="card-body card">
            <div class="card-title">
              <button class="btn btn-secondary btn50x" [disabled]="true">
                <span class="inner-btn">50x</span>
                <label class="max">Max: 1200 TRX</label>
              </button>
            </div>
            <div class="card-text reduce color4">
              <div class="tron">
                <span class="color-yellow"><svg height="13px" width="13px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 218.83 218.84"><g id="Слой_2" data-name="Слой 2"><g id="Слой_2-2" data-name="Слой 2"><path id="профиль" d="M147.71,135a72,72,0,0,0,34.65-62A72.95,72.95,0,1,0,36.47,73a72,72,0,0,0,34.65,62C34.65,148.63,7.29,180.54,0,218.84H18.24a93.46,93.46,0,0,1,182.36,0h18.23C211.54,179.63,184.19,147.72,147.71,135Zm-93-62a54.71,54.71,0,1,1,54.71,54.7A54.87,54.87,0,0,1,54.71,73Z" class="cls-1"></path></g></g></svg></span>{{players2x}}
              </div>
              <div>
                <span class="color-yellow"><svg height="18px" width="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 259.97 253.54"><defs></defs><title>tron1</title><g id="Слой_2" data-name="Слой 2"><g id="tron"><path d="M260,84c-7.39,8.05-14.91,16-22.16,24.16Q175.05,179,112.38,250c-1,1.11-2,2.16-3.36,3.59a31,31,0,0,1-1.76-3Q55.08,128.64,2.91,6.75C2.07,4.78,1,2.91,0,1L2,0C4.55.63,7.07,1.43,9.66,1.87q97,16.59,194,33.16a10.4,10.4,0,0,1,4.79,2.22c7,5.93,13.73,12.08,20.63,18.08Q244.5,68.71,260,82ZM107.74,214.43l.85-.2c.47-3.54,1-7.08,1.41-10.62,4.15-32,8.23-63.93,12.54-95.86.46-3.42-.21-5.41-3-7.51Q76.17,67,32.92,33.61c-.78-.6-1.7-1-3.51-2.15Zm15.45,1.68,108.74-123L137.1,109.06C132.47,144.66,127.93,179.65,123.19,216.11Zm-82-195-.35.72,88.91,68.43L186.89,46Zm162,30.24-52.71,40.8.46.7,83.3-14.06Z" class="cls-1"></path></g></g></svg></span>{{total2x}}
              </div>
            </div>
            <div *ngFor = "let bet of showFifty">
              <div class="card-text reduce color4" *ngIf = "bet.result.amount !== undefined || bet.result.player !== undefined">
                <div class="tron">
                  <span class="color-yellow"><svg height="13px" width="13px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 218.83 218.84"><g id="Слой_2" data-name="Слой 2"><g id="Слой_2-2" data-name="Слой 2"><path id="профиль" d="M147.71,135a72,72,0,0,0,34.65-62A72.95,72.95,0,1,0,36.47,73a72,72,0,0,0,34.65,62C34.65,148.63,7.29,180.54,0,218.84H18.24a93.46,93.46,0,0,1,182.36,0h18.23C211.54,179.63,184.19,147.72,147.71,135Zm-93-62a54.71,54.71,0,1,1,54.71,54.7A54.87,54.87,0,0,1,54.71,73Z" class="cls-1"></path></g></g></svg></span> {{bet.result.player}}... 
                </div>
                <div>
                  <span class="color-yellow"><svg height="18px" width="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 259.97 253.54"><defs></defs><title>tron1</title><g id="Слой_2" data-name="Слой 2"><g id="tron"><path d="M260,84c-7.39,8.05-14.91,16-22.16,24.16Q175.05,179,112.38,250c-1,1.11-2,2.16-3.36,3.59a31,31,0,0,1-1.76-3Q55.08,128.64,2.91,6.75C2.07,4.78,1,2.91,0,1L2,0C4.55.63,7.07,1.43,9.66,1.87q97,16.59,194,33.16a10.4,10.4,0,0,1,4.79,2.22c7,5.93,13.73,12.08,20.63,18.08Q244.5,68.71,260,82ZM107.74,214.43l.85-.2c.47-3.54,1-7.08,1.41-10.62,4.15-32,8.23-63.93,12.54-95.86.46-3.42-.21-5.41-3-7.51Q76.17,67,32.92,33.61c-.78-.6-1.7-1-3.51-2.15Zm15.45,1.68,108.74-123L137.1,109.06C132.47,144.66,127.93,179.65,123.19,216.11Zm-82-195-.35.72,88.91,68.43L186.89,46Zm162,30.24-52.71,40.8.46.7,83.3-14.06Z" class="cls-1"></path></g></g></svg></span>
                  {{bet.result.amount}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <!-- second tab content -->
    
    <!--GENERAL HISTORY-->
  </ngb-tabset>
  <!--MY BETS MODAL-->
  <div class="modal fade" id="myBetsModal" tabindex="-1" role="dialog" aria-labelledby="myBetsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-table" role="document">
      <div class="modal-content modal-content-table">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">My Bets Information  </h5>
          <img class="forward" src="../assets/back.png" height="20px" width="20px" data-dismiss="modal" data-target="#historialModal" data-toggle="modal">
          <button type="button" class="close" data-dismiss="modal" (click)="resetDetailed()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-body-table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Player</th>
          <th scope="col">Amount</th>
          <th scope="col">Multiplier</th>
          <th scope="col">Winner</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let history of myBetHistory | slice : (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <div *ngIf = "history.winner == 2; then winnerg"></div>
          <div *ngIf = "history.winner == 3; then winnerb"></div>
          <div *ngIf = "history.winner == 5; then winnerp"></div>
          <div *ngIf = "history.winner == 5; then winnery"></div>
          <div *ngIf="history.betType == 2; then grey"></div>
          <ng-template #grey>
            <th class="grey" scope="row">{{address2}}...{{address3}}</th>
            <td class="grey">{{history.value}} TRX</td>
            <td class="grey">{{history.betType}}X</td>
            <td>{{history.winner}}X</td>
          </ng-template>
          <div *ngIf="history.betType == 3; then blue"></div>
          <ng-template #blue>
            <th class="red" scope="row">{{address2}}...{{address3}}</th>
            <td class="red">{{history.value}} TRX</td>
            <td class="red">{{history.betType}}X</td>
            <td>{{history.winner}}X</td>
          </ng-template>
          <div *ngIf="history.betType == 5; then purple"></div>
          <ng-template #purple>
            <th class="green" scope="row">{{address2}}...{{address3}}</th>
            <td class="green">{{history.value}} TRX</td>
            <td class="green">{{history.betType}}X</td>
            <td>{{history.winner}}X</td>
          </ng-template>
          <div *ngIf="history.betType == 50; then yellow"></div>
          <ng-template #yellow>
              <th class="yellow" scope="row">{{address2}}...{{address3}}</th>
              <td class="yellow">{{history.value}} TRX</td>
              <td class="yellow">{{history.betType}}X</td>
              <td>{{history.winner}}X</td>
          </ng-template>
        </tr>
      </tbody>
    </table>
    <div class="paginacion">
      <ngb-pagination class="d-flex justify-content-center"
      [(page)]="page"
      [pageSize] ="pageSize"
      [collectionSize]="myBetHistory.length"></ngb-pagination>
      <button class="btn btn-outline-secondary" (click)="myBets()">Refresh</button>
    </div>
  </div>
</div>
</div>
</div>
  <!--MODAL HISTORY-->
  <div class="modal fade" id="historialModal" tabindex="-1" role="dialog" aria-labelledby="historialModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-table" role="document">
      <div class="modal-content modal-content-table">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Round Information</h5>
          <img src="../assets/forward.png" class="forward" height="20px" width="20px" data-toggle="modal" data-target="#myBetsModal" data-dismiss="modal">
          <button type="button" class="close" data-dismiss="modal" (click)="resetDetailed()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-body-table">
            <table class="table history-table">
              <thead>
                <tr>
                  <th scope="col">Winner</th>
                  <th scope="col">Round</th>
                  <th scope="col">Hash</th>
                  <th scope="col">Timestamp</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let history of historial | slice : (page-1) * pageSize : (page-1) * pageSize + pageSize">
                  <div *ngIf = "history.winner == 2; then grey"></div>
                  <div *ngIf = "history.winner == 3; then blue"></div>
                  <div *ngIf = "history.winner == 5; then purple"></div>
                  <div *ngIf = "history.winner == 50; then yellow"></div>
                  <ng-template #grey>
                    <th class="grey">{{history.winner}}X</th>
                    <td (click)="detailedInfo(history.round)" data-toggle="modal" data-target="#exampleModal">{{history.round}} <img src="../assets/view.png" height="20px" width="20px"></td>
                    <td class="hash"><a href="https://shasta.tronscan.org/#/transaction/{{history.hash}}">{{history.hash}}</a></td>
                    <td>{{history.timestamp}}</td>
                  </ng-template>
                  <ng-template #blue>
                    <th class="red">{{history.winner}}X</th>
                    <td (click)="detailedInfo(history.round)" data-toggle="modal" data-target="#exampleModal">{{history.round}} <img src="../assets/view.png" height="20px" width="20px"></td>
                    <td class="hash"><a href="https://shasta.tronscan.org/#/transaction/{{history.hash}}">{{history.hash}}X</a></td>
                    <td>{{history.timestamp}}</td>
                  </ng-template>
                  <ng-template #purple>
                    <th class="green">{{history.winner}}X</th>
                    <td (click)="detailedInfo(history.round)" data-toggle="modal" data-target="#exampleModal">{{history.round}} <img src="../assets/view.png" height="20px" width="20px"></td>
                    <td class="hash"><a href="https://shasta.tronscan.org/#/transaction/{{history.hash}}">{{history.hash}}X</a></td>
                    <td>{{history.timestamp}}</td>
                  </ng-template>
                  <ng-template #yellow>
                    <th class="yellow">{{history.winner}}X</th>
                    <td (click)="detailedInfo(history.round)" data-toggle="modal" data-target="#exampleModal">{{history.round}} <img src="../assets/view.png" height="20px" width="20px"></td>
                    <td class="hash"><a href="https://shasta.tronscan.org/#/transaction/{{history.hash}}">{{history.hash}}X</a></td>
                    <td>{{history.timestamp}}</td>
                  </ng-template>
                </tr>
              </tbody>
            </table>
            <div class="paginacion">
              <ngb-pagination class="d-flex justify-content-center"
              [maxSize]="4"
              [size]="sm"
              [(page)]="page"
              [pageSize] ="pageSize"
              [collectionSize]="historial.length"></ngb-pagination>
              <button class="btn btn-outline-secondary" (click)="myBets()">Refresh</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--MODAL DETAILED-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detailed Round Information</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="resetDetailed()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngFor="let info of detailedInformation">
            <p>#{{info.id}}</p>
            <p>Person: {{info.sender}}</p>
            <p>Amount: {{info.value}}</p>
            <p>Multiplier: {{info.betType}}</p>
            <p>Profit: {{info.profit}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- card para el nombre de usuario -->
  <div class="modal fade" id="usernameModal" tabindex="-1" role="dialog" aria-labelledby="usernameModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <mat-card>
        <mat-card-title>
          Set your Username
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </mat-card-title>
        <mat-card-content>
        <div>
          <p>New Username</p>
          <div class="modal-body">
            <input class="form-control name" placeholder="Write your username" [(ngModel)]="username" aria-label="Username">
            <button type="button" class="btn btn-success" (click)="setUsername(username)">Change Username</button>
          </div>
        </div>
        </mat-card-content>
      </mat-card>
      </div>
    </div>
  </div>
  <!-- card para el avatar -->
  <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="avatarModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <mat-card>
        <mat-card-title>
          Set your Avatar
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </mat-card-title>
        <mat-card-content>
          <p>Choose Avatar</p>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_1.png')"><img src="../assets/64_1.png"></button>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_2.png')"><img src="../assets/64_2.png"></button>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_3.png')"><img src="../assets/64_3.png"></button>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_4.png')"><img src="../assets/64_4.png"></button>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_5.png')"><img src="../assets/64_5.png"></button>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_6.png')"><img src="../assets/64_6.png"></button>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_7.png')"><img src="../assets/64_7.png"></button>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_8.png')"><img src="../assets/64_8.png"></button>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_9.png')"><img src="../assets/64_9.png"></button>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_10.png')"><img src="../assets/64_10.png"></button>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_11.png')"><img src="../assets/64_11.png"></button>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_12.png')"><img src="../assets/64_12.png"></button>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_13.png')"><img src="../assets/64_13.png"></button>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_14.png')"><img src="../assets/64_14.png"></button>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_15.png')"><img src="../assets/64_15.png"></button>
          <button class="btn-avatar" (click)="setAvatar('../assets/64_16.png')"><img src="../assets/64_16.png"></button>
        </mat-card-content>
      </mat-card>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
          
<div class="csgo-history-item-detail" style="display: none;" title="">
  <!-- react-text: 5813 -->Hash<!-- /react-text --><!-- react-text: 5814 -->:<!-- /react-text -->
  <br><span style="color: rgb(170, 170, 170);">b31d269121eb1a641587391b0f8d0d39ebd6ee333db5d8c7a0acfb4755b0fcff</span>
  <br><!-- react-text: 5818 -->Salt<!-- /react-text --><!-- react-text: 5819 -->:<!-- /react-text --><br>
  <span style="color: rgb(170, 170, 170);">7bb6646648e7f3a1f6gdRZequxsyxnlx</span>
  <br><!-- react-text: 5823 -->Random<!-- /react-text --><!-- react-text: 5824 -->:<!-- /react-text --><br>
  <span style="color: rgb(170, 170, 170);">28</span>
</div>
