<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="spinner == true">
  <div class="contains">
      <mat-spinner class="loading"></mat-spinner>
      <h2 class="loading-letter">Loading...</h2>
  </div>
</div>
<div class="container-fluid">
  <div class="first-div">
    <div class="a"> 
      <div id = "prize">
        <canvas class="roulette" id="canvas" width="620px" height="680px"></canvas>
        <!-- <img src="../assets/pointery.png" (click)="muteAudio()"> -->
        <h3 id = "seconds">
          <div>{{decenas}}</div>
          <div>{{seconds}}</div>
          <div>.</div>
          <div>{{milis2}}</div>
          <div>{{milis}}</div>
        </h3>
        <h2 id= "indication"> {{indication}}</h2>
      </div>
      <div class="historial">
        <div class="" *ngFor="let prev of (aux | slice : aux.length -10)">
          <!-- <div *ngFor="let prev of (aux | slice : aux.length - 10)"> IRAN 10 DE ESTOS CUANDO SEA AUTOMATICO -->
              <!-- *ngIf="prev.a == 2" -->
            <div *ngIf="prev.a == 2" class=""> 
              <ng-template #content><p class="grey-dialog">Hash: </p> {{prev.hash}} <br><p class="grey-dialog">Seed:</p> {{prev.salt}}<br><p class="grey-dialog">Random:</p>{{prev.rand}}</ng-template>
              <button type="button" class="button-trans-grey showprev" placement="left" [ngbPopover]="content"></button>  
            </div>
            <div *ngIf="prev.a == 3" class="">
              <ng-template #content class="blue-info"><p class="blue-dialog">Hash: </p> {{prev.hash}} <br><p class="blue-dialog">Seed:</p> {{prev.salt}}<br><p class="blue-dialog">Random:</p>{{prev.rand}}</ng-template>
              <button type="button" class="button-trans-blue showprev" placement="left" [ngbPopover]="content"></button>
            </div>  
            <div *ngIf="prev.a == 5" class="">
              <ng-template #content class="purple-info"><p class="purple-dialog">Hash: </p> {{prev.hash}} <br><p class="purple-dialog">Seed:</p> {{prev.salt}}<br><p class="purple-dialog">Random:</p>{{prev.rand}}</ng-template>
              <button type="button" class="button-trans-purple showprev" placement="left" [ngbPopover]="content"></button>  
            </div>
            <div *ngIf="prev.a == 50" class="">
              <ng-template #content class="yellow-info"><p class="yellow-dialog">Hash: </p> {{prev.hash}} <br><p class="yellow-dialog">Seed:</p> {{prev.salt}}<br><p class="yellow-dialog">Random:</p>{{prev.rand}}</ng-template>
              <button type="button" class="button-trans-yellow showprev" placement="left" [ngbPopover]="content"></button> 
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>

    <div class="place-bets b">

      <div class="balance">
        <!-- Balance -->
        <div class="input-group">
          <img class="ico" height="35px" src="../assets/tron_logo_trans.png">{{balance}}
          <button id="check" class="btn btnops btn-outline-secondary" type="button" (click)="checkBalance()">Check balance</button>
        </div>
        <!-- Chat -->
        <div class="botones">
          <div class="chat">
            <div *ngIf = "chatOpen == false; then openChat else closeChat"></div>
            <ng-template #closeChat>
              <div class="example-box" cdkDrag>
                <div class="top-chat">
                  Global Chat
                  <button (click)="chatOpen = false" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="chat-content" id="style-1">
                  <div *ngFor="let message of messages" >
                    <mat-card>
                      <mat-card-title>{{message.sender}}</mat-card-title>
                      <mat-card-content>{{message.message}}</mat-card-content>
                    </mat-card>
                  </div>
                </div>
                <textarea class="text" [(ngModel)]="sendMessage" placeholder="Start Chating"></textarea>
                <button class="btn btn-outline-secondary send" (click)="send(sendMessage)">
                  Send
                </button>
              </div>
            </ng-template>
            <ng-template #openChat>
              <img src="https://img.icons8.com/nolan/50/000000/new-message.png" (click)="chatOpen = true">
            </ng-template>
          </div>
          <!--Profile button-->
          <div class="profile">
            <!-- <div *ngIf="panelOpenState == true; then panelOpen else panelClosed"></div>
            <ng-template #panelOpen>
              <div class="prof">
                <input matInput placeholder="Username" class="form-control" value="">
              </div>
            </ng-template>
            <ng-template #panelClosed>
                <img (click)="panelOpenState = true" [matMenuTriggerFor]="afterMenu" src="https://img.icons8.com/nolan/40/000000/gender-neutral-user.png">
            </ng-template> -->
            <img [matMenuTriggerFor]="afterMenu" src="https://img.icons8.com/nolan/40/000000/gender-neutral-user.png">
            <mat-menu #afterMenu="matMenu" xPosition="after">
              <button mat-menu-item>Set Username</button>
              <button mat-menu-item>Set Avatar</button>
            </mat-menu>
          </div>
          <!-- Mute button -->
          <div class="mute">
            <div *ngIf="muted == false; then sound else nosound"></div>
            <ng-template #sound>
              <img src="https://img.icons8.com/nolan/50/000000/medium-volume.png" (click)="muteAudio()">
            </ng-template>
            <ng-template #nosound>
              <img src="https://img.icons8.com/nolan/50/000000/mute.png" (click)="unMute()">
            </ng-template>
          </div>
        </div>
      </div>

      <div id ="amount" class="input-group mb-3">
        <div class="input-group" id="button-addon4">
          <button class="btn btnops btn-outline-secondary" type="button" (click)="min()">min</button>
          <button class="btn btnops btn-outline-secondary" type="button" (click)="half()">1/2</button>
          <button class="btn btnops btn-outline-secondary" type="button" (click)="double()">x2</button>
          <button class="btn btnops btn-outline-secondary" type="button" (click)="max()">max</button>
        </div>
        <div class="input-group mb-3 input-margin">
          <div class="input-group-prepend">
            <span class="input-group-text back" id="basic-addon1"><img height="20px" src="../assets/tron_logo_trans.png"></span>
          </div>
          <input id="bet" type="tel" class="form-control" [(ngModel)]="trx" placeholder="10" aria-label="Username" aria-describedby="basic-addon1" required>
          <div class="input-group" id="button-addon4">
            <button id="b1" class="btn btnops2 btn-secondary" type="button" (click)="betTwo(trx)">2x</button>
            <button id="b2" class="btn btnops2 btn-primary" type="button" (click)="betThree(trx)">3x</button>
            <button id="b3" class="btn btnops2 btn-success" type="button" (click)="betFive(trx)">5x</button>
            <button id="b4" class="btn btnops2 btn-warning" type="button" (click)="betFifty(trx)">50x</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ngb-tabset type="pills">
    <!-- first tab content -->
    <ngb-tab title="Stats">
      <ng-template ngbTabContent>
        <div class="cartas">
          <div class="card card-body">
            <div class="card-title">
              <button class="btn btn-secondary btn2x" [disabled]="true">
                <span class="inner-btn">2X</span>
                <label class="max">Max: 30000 TRX</label>
              </button>
            </div>
            <div class="card-text reduce color1">
              <div class="tron">
                <img height="18px" src="../assets/tron_logo_trans.png">{{total2x}}
              </div>
              <div>
                <img src="https://img.icons8.com/small/16/000000/user.png">{{players2x}}
              </div>
            </div>
            <div *ngFor = "let bet of showTwo">
              <div *ngIf = "bet.result.amount !== undefined || bet.result.player !== undefined">
                <div class="reduce1">
                  <img height="18px" src="../assets/tron_logo_trans.png"> {{bet.result.amount}} 
                  <img src="https://img.icons8.com/small/16/000000/user.png">{{bet.result.player}}... 
                </div>
              </div>
            </div>
          </div>

          <div class="card-body card">
            <div class="card-title">
              <button class="btn btn-secondary btn3x" [disabled]="true">
                <span class="inner-btn">3X</span>
                <label class="max">Max: 20000 TRX</label>
              </button>
            </div>
            <div class="card-text reduce color2">
              <div class="tron">
                <img height="18px" src="../assets/tron_logo_trans.png"> {{total3x}}
              </div>
              <div class="player">
                <img src="https://img.icons8.com/small/16/000000/user.png">{{players3x}}
              </div>
            </div>
            <div *ngFor = "let bet of showThree">
              <div *ngIf = "bet.result.amount !== undefined || bet.result.player !== undefined">
                <div class="reduce2">
                  <img height="18px" src="../assets/tron_logo_trans.png"> {{bet.result.amount}}
                  <img src="https://img.icons8.com/small/16/000000/user.png">{{bet.result.player}}
                </div>
              </div>
            </div>
          </div>

          <div class="card-body card">
            <div class="card-title">
              <button class="btn btn-secondary btn5x" [disabled]="true">
                <span class="inner-btn">5X</span>
                <label class="max">Max: 12000 TRX</label>
              </button>
            </div>
            <div class="card-text reduce color3">
              <div class="tron">
                <img height="18px" src="../assets/tron_logo_trans.png"> {{total5x}}
              </div>
              <div>
                <img src="https://img.icons8.com/small/16/000000/user.png">{{players5x}}
              </div>
            </div>
            <div *ngFor = "let bet of showFive">
              <div *ngIf = "bet.result.amount !== undefined || bet.result.player !== undefined">
                <div class="reduce3">
                  <img height="18px" src="../assets/tron_logo_trans.png"> {{bet.result.amount}}
                  <img src="https://img.icons8.com/small/16/000000/user.png">{{bet.result.player}}... 
                </div>
              </div>
            </div>
          </div>

          <div class="card-body card">
            <div class="card-title">
              <button class="btn btn-secondary btn50x" [disabled]="true">
                <span class="inner-btn">50x</span>
                <label class="max">Max: 1200 TRX</label>
              </button>
            </div>
            <div class="card-text reduce color4">
              <div class="tron">
                <img height="18px" src="../assets/tron_logo_trans.png"> {{total50x}}
              </div>
              <div>
                <img src="https://img.icons8.com/small/16/000000/user.png">{{players50x}}
              </div>
            </div>
            <div *ngFor = "let bet of showFifty">
              <div *ngIf="bet.result.amount !== undefined || bet.result.player !== undefined">
                <div class="reduce4">
                  <img height="18px" src="../assets/tron_logo_trans.png"> {{bet.result.amount}} 
                  <img src="https://img.icons8.com/small/16/000000/user.png">{{bet.result.player}}...
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <!-- second tab content -->
    <ngb-tab title="My Bets">
      <ng-template ngbTabContent>
        <table class="table">
          <thead>
            <tr>
              <th class="table-numeral" scope="col">Player</th>
              <th class="table-amount" scope="col">Amount</th>
              <th class="table-multiplier" scope="col">Multiplier</th>
              <th class="table-multiplier" scope="col">Winner</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let history of myBetHistory | slice : (page-1) * pageSize : (page-1) * pageSize + pageSize">
              <div *ngIf = "history.winner == 2; then winnerg"></div>
              <div *ngIf = "history.winner == 3; then winnerb"></div>
              <div *ngIf = "history.winner == 5; then winnerp"></div>
              <div *ngIf = "history.winner == 5; then winnery"></div>
              <div *ngIf="history.betType == 2; then grey"></div>
              <ng-template #grey>
                <th class="table-numeral-grey" scope="row">{{address2}}...{{address3}}</th>
                <td class="table-value-grey">{{history.value}} TRX</td>
                <td class="table-value-grey">{{history.betType}}X</td>
                <td class="table-value-white">{{history.winner}}X</td>
              </ng-template>
              <div *ngIf="history.betType == 3; then blue"></div>
              <ng-template #blue>
                <th class="table-numeral-blue" scope="row">{{address2}}...{{address3}}</th>
                <td class="table-value-blue">{{history.value}} TRX</td>
                <td class="table-value-blue">{{history.betType}}X</td>
                <td class="table-value-white">{{history.winner}}X</td>
              </ng-template>
              <div *ngIf="history.betType == 5; then purple"></div>
              <ng-template #purple>
                <th class="table-numeral-purple" scope="row">{{address2}}...{{address3}}</th>
                <td class="table-value-purple">{{history.value}} TRX</td>
                <td class="table-value-purple">{{history.betType}}X</td>
                <td class="table-value-white">{{history.winner}}X</td>
              </ng-template>
              <div *ngIf="history.betType == 50; then yellow"></div>
              <ng-template #yellow>
                  <th class="table-numeral-yellow" scope="row">{{address2}}...{{address3}}</th>
                  <td class="table-value-yellow">{{history.value}} TRX</td>
                  <td class="table-value-yellow">{{history.betType}}X</td>
                  <td class="table-value-white">{{history.winner}}X</td>
              </ng-template>
            </tr>
            <ngb-pagination
            [(page)]="page"
            [pageSize] ="pageSize"
            [collectionSize]="myBetHistory.length"></ngb-pagination>
            <button class="btn btn-outline-secondary" (click)="myBets()">Refresh</button>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <!-- card para el nombre de usuario -->

  <mat-card>
    <mat-card-title>
      Set your Username
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </mat-card-title>
    <mat-card-content>
      <p>New Username</p>
      <div>
        <input class="form-control name" placeholder="Your name" aria-label="Username">
        <button type="button" class="btn btn-success">Success</button>
        <p>The username is only allowed to change once</p>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- card para el avatar -->
  <mat-card>
    <mat-card-title>
      Set your Avatar
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </mat-card-title>
    <mat-card-content>
      <p>Choose Avatar</p>
      <div>
        <div>
          <img [matMenuTriggerFor]="afterMenu" src="https://img.icons8.com/nolan/40/000000/gender-neutral-user.png">
          <i class="material-icons">keyboard_arrow_down</i>
          <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item>
                <i class="material-icons ava">rowing</i>
                Avatar 1
              </button>
            <button mat-menu-item>Set Avatar</button>
          </mat-menu>
        </div>
        <button type="button" class="btn btn-success">Success</button>
      </div>
    </mat-card-content>
  </mat-card>
<!-- 
  <div>
      <div class ="card card2">
        <div class="card-body">
          <ul class="list-group listTwo">
            <li class="list-group-item list2 card-title"><button id="b1" class="btn btn-secondary btn2x" (click)="betTwo(trx)">2X</button></li>
            <li class="list-group-item list2 card-text reduce"><img style="padding-right: 3%;" height="18px" src="../assets/tron_logo_trans.png">{{total2x}}<img style="padding-left: 60%; padding-right: 3%;" src="https://img.icons8.com/small/16/000000/user.png">{{players2x}}</li>
            <div *ngFor = "let bet of showTwo">
              <div *ngIf = "bet.result.amount !== undefined || bet.result.player !== undefined">
                <li class="list-group-item reduce1"><img height="18px" src="../assets/tron_logo_trans.png"> {{bet.result.amount}} <img style="padding-left: 35%;" src="https://img.icons8.com/small/16/000000/user.png">{{bet.result.player}}... </li>
              </div>
            </div>
          </ul>
        </div>
      </div>
  
      <div class="card card3">
        <ul class="list group listThree">
          <li class="list-group-item list3 card-title"><button id="b2" class="btn btn-secondary btn3x" (click)="betThree(trx)">3X</button></li>
          <li class="list-group-item list3 card-text reduce"><img style="padding-right: 3%;" height="18px" src="../assets/tron_logo_trans.png"> {{total3x}}<img style="padding-left: 60%; padding-right: 3%;" src="https://img.icons8.com/small/16/000000/user.png">{{players3x}}</li>
          <div *ngFor = "let bet of showThree">
            <div *ngIf = "bet.result.amount !== undefined || bet.result.player !== undefined">
              <li class="list-group-item reduce2"><img height="18px" src="../assets/tron_logo_trans.png"> {{bet.result.amount}} <img style="padding-left: 35%;" src="https://img.icons8.com/small/16/000000/user.png">{{bet.result.player}}...</li>
            </div>
          </div>
        </ul>
      </div>
  
      <div class="card card5">
        <ul class= "listFive">
          <li class="list-group-item list5 card-title"><button id="b3" class="btn btn-secondary btn5x" (click)="betFive(trx)">5X</button></li>
          <li class="list-group-item list5 card-text reduce"><img style="padding-right: 3%;" height="18px" src="../assets/tron_logo_trans.png"> {{total5x}}<img style="padding-left: 60%; padding-right: 3%;" src="https://img.icons8.com/small/16/000000/user.png">{{players5x}}</li>
          <div *ngFor = "let bet of showFive">
            <div *ngIf = "bet.result.amount !== undefined || bet.result.player !== undefined">
              <li class="list-group-item reduce3"><img height="18px" src="../assets/tron_logo_trans.png"> {{bet.result.amount}}<img style="padding-left: 35%;" src="https://img.icons8.com/small/16/000000/user.png">{{bet.result.player}}... </li>
            </div>
          </div>
        </ul>
      </div>
  
      <div class="card card50">
        <ul class="list-group listFifty">
          <li class="list-group-item list50 card-title"><button id="b4" class="btn btn-secondary btn50x" (click)="betFifty(trx)">50X</button></li>
          <li class="list-group-item list50 card-text reduce"><img style="padding-right: 3%;" height="18px" src="../assets/tron_logo_trans.png"> {{total50x}}<img style="padding-left: 60%; padding-right: 3%;" src="https://img.icons8.com/small/16/000000/user.png">{{players50x}}</li>
          <div *ngFor = "let bet of showFifty">
            <div *ngIf="bet.result.amount !== undefined || bet.result.player !== undefined">
              <li class="list-group-item reduce4"><img height="18px" src="../assets/tron_logo_trans.png"> {{bet.result.amount}} <img style="padding-left: 35%;" src="https://img.icons8.com/small/16/000000/user.png">{{bet.result.player}}...</li>
            </div>
          </div>
        </ul>
      </div>
    </div> -->
</div>
<router-outlet></router-outlet>
